:root{
  --text-color: black;
  --background: grey;
  --header-bg: white;

  background-color: var(--background);
  font-family: "Francois One";
}

h1{
  font-size: 2rem;
}

a{
  text-decoration: none;
  color: var(--text-color);
  transition: 0.25s;
}

a:hover{
  scale: 1.05;
}

.icon{
  font-size: 1.3rem;
  transition: 0.25s;
}

.icon:hover{
  scale: 1.3;
}

.home{
  /* border: 1px solid red; */
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.home > nav{
  justify-content: center;
  display: flex;
  gap: 1rem;
}

header{
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--header-bg);
  margin: -0.5rem;
  margin-bottom: 1rem;
  /* border: 1px solid red; */
}

.headerLinkContainer{
  display: flex;
  gap: 1.2rem;
}

.headerLink{
  transition: 0.25s;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: rgba(0, 0, 0, 0);
}

.headerLink:hover{
  scale: 1.1;
  text-decoration: underline;
  text-decoration-color: var(--text-color);
}

.portrait{
  width: 70px;
  border-radius: 50%;
  position: absolute;
  margin-top: 0.5rem;
  margin-left: -0.5rem;
}

.headerTitle{
  margin-left: 70px;
}